/*css reset + gemeenschappelijke eigenschappen*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*kleuren in variabelen*/
:root{
    --primary-color: #6399CD;
    --secondary-color: #3F76B8;
    --reset-btn-background-color: #e80505e1;
}


/*header + elementen*/
header{ 
    background-color: var(--primary-color);
    border-bottom: 2px solid black; 
    padding: 10px;
}

.title{
    display: flex;
    justify-self: center;
    background-color: var(--secondary-color);
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
}

/*home knop*/
.home-btn{
    margin: 5px;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
}

.home-btn:hover{
    background: #0d66d4;
    transition: 1s;
}

/* middelste vak waarin de game plaatsvind*/
.game-container{
    justify-self: center;
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 5px;
    margin: 50px;
    padding: 25px;
    width: 500px;
}

#playerTurn{
    display: flex;
    justify-content: center;
    font-size: large;
}

/*grid voor het spel*/
#boxes {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    padding: 10px;
    justify-content: center;
}


/*styling voor hokjes van bke*/
#boxes div {
    background-color: rgb(241, 240, 240);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 48px;
}

/*scorebord*/
.score-board{
    justify-self: right;
    background-color: var(--primary-color);
    width: 100px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

/*reset knop en hover*/
#reset-btn{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: var(--reset-btn-background-color);
    border: 3px solid black;
    border-radius: 7px;
    justify-self: center;
    font-size: larger;
    color: rgb(241, 232, 232);
}

/*footer + elementen*/
footer{
    background-color: var(--primary-color);
    border-top: 2px solid black;
    padding: 8px;
    text-align: center;
}

.footer-text{
    display: flex;
    justify-self: center;
    background-color: var(--secondary-color);
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    width: auto;
}