/*css reset + gemeenschappelijke eigenschappen*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*kleuren in variabelen*/
:root{
    --primary-color: #6399CD;
    --secondary-color: #3F76B8;
}

/*header + elementen*/
header{ 
    background-color: var(--primary-color);
    border-bottom: 2px solid black; 
    padding: 10px;
}

.title{
    display: flex;
    justify-self: center;
    background-color: var(--secondary-color);
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
}

/*home knop*/
.home-btn{
    margin: 5px;
    padding: 5px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
}

.home-btn:hover{
    background: #0d66d4;
    transition: 1s;
}

/* middelste vak waarin de game plaatsvind*/
.game-container{
    justify-self: center;
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 5px;
    margin: 50px;
    padding: 25px;
    width: 500px;
}

/*grid voor het spel*/
.bke-grid{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: minmax(10px auto);
}

/*styling voor hokjes van bke*/
#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9{
    border: 1px solid black;
    background-color: rgb(241, 240, 240);
    padding: 50px;
} 

/*scorebord*/
.score-board{
    justify-self: right;
    background-color: var(--primary-color);
    width: 100px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

/*footer + elementen*/
footer{
    background-color: var(--primary-color);
    border-top: 2px solid black;
    padding: 8px;
    text-align: center;
}

.footer-text{
    display: flex;
    justify-self: center;
    background-color: var(--secondary-color);
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    width: auto;
}