/*css reset + gemeenschappelijke eigenschappen*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* middelste vak waarin de game plaatsvind*/
.game-container{
    justify-self: center;
    background-color: #9CB9D6;
    border: 2px solid black;
    border-radius: 5px;
    margin: 100px;
    padding: 10px;
}

/*header + elementen daarin*/
header{
    background-color: #6399CD;
    border-bottom: 2px solid black ;
}

.title{
    justify-self: center;
}

/*scorebord*/
.score-board{
    background-color: #6399CD;
    justify-self: right;
    width: 100px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

/*footer*/
footer{
    background-color: #6399CD;
    border-top: 2px solid black;
    padding: 10px;
    text-align: center;
}
